Ans 1 ::

In Python, the def keyword is used to create a function. Here is an example of a function that returns a list of odd numbers in the range of 1 to 25:

In [1]:
range(26)

range(0, 26)

In [32]:
## returing a list of odd Number from the range (1,25)

def Odd_number():
    return i
for i in range (1,26):
    if i % 2 != 0 :
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

Ans 2 :

*args and **kwargs are used in some functions to allow for a variable number of arguments to be passed to the function.
*args is used to pass a variable number of non-keyword arguments, while 
**kwargs is used to pass a variable number of keyword arguments1

In [36]:
## Creating a args function below .
def test(*args, a):
    return args ,a

In [38]:
type (test(1,2,4, a = 24))

tuple

In [39]:
## args return the value in tuple form

In [40]:
test(1,2,3, a = 24)

((1, 2, 3), 24)

In [41]:
## Creating the **kwards function 
def test1(**kwargs):
    return kwargs

In [43]:
# it runs without the value given . and the data in the form of dict
type(test1())

dict

In [45]:
## Calling **kwargs funtion after assiging the value 

test1(a = "Bishu", b = [1,2,3,4], c = 2637.45)

{'a': 'Bishu', 'b': [1, 2, 3, 4], 'c': 2637.45}

Ans : 3

In Python an iterator is an object which impliment the iterator protocol which consist of the methods __iter__() and __next__().

The __iter__() method is used to initialize the iterator object and returns the iterator object itself. The __next__() method is used for iteration and returns the next value from the iterator. If there are no more items to return, it should raise a StopIteration exception.

In [46]:
## Example if iterator given below 
my_list = [2, 4, 6, 8, 10, 12, 14,16, 18, 20]

In [47]:
my_iterator = iter(my_list)

In [49]:
for i in range(5):
    print(next(my_iterator))

2
4
6
8
10

In [50]:
## Method use above to print the first 5 element

Ans 4

A generator function in Python is a special type of function that returns an iterator, which can be used to iterate over a sequence of values. Unlike regular functions that return all the values at once, a generator function returns one value at a time using the yield keyword.


The yield keyword is used in a generator function to pause the function and return a value to the caller. When the function is called again, it resumes from where it left off and continues until it encounters another yield statement or until the function ends

In [1]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b , a+b

In [3]:
test_fib(10)

In [5]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [2]:
l = {}

In [3]:
type(l)

dict

Ans 5

In [6]:
## generating the prime Number

def prime_generator():
    primes = [2]
    yield 2
    for num in range(3, 1000):
        is_prime = True
        for prime in primes:
            if num % prime == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
            yield num

prime_gen = prime_generator()
for _ in range(20):
    print(next(prime_gen))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Ans 6 generating the fibnacchi number

In [4]:
def test_fib():
    a,b = 0,1
    while True:
        yield a 
        a,b = b, a+b

In [5]:
fib = test_fib()

In [6]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

Ans 7

In [7]:
my_string = 'pwskills'

In [31]:
list(map(lambda s : s.upper() , my_string))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [9]:
l1

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Ans : 8

In [10]:
def is_palindrome(n):
    temp = n
    rev = 0
    while n > 0:
        digit = n % 10
        rev = rev * 10 + digit
        n = n // 10
    return temp == rev

num = int(input('Enter a number: '))
if is_palindrome(num):
    print(f'{num} is a palindrome')
else:
    print(f'{num} is not a palindrome')

Enter a number:  11

11 is a palindrome

Ans 9

In [11]:
range(100)

range(0, 100)

In [12]:
l = []
for i in range(100):
    print(i)
    l.append(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [13]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [28]:
l1 =[]
for i in l:
    if i % 2 == 1:
        print(i)
        l1.append(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [30]:
#List of odd number in the list

l1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]